.about{
    height: 100vh;
    margin: 0px;
    /* background-color: #778899; */
    background-image: url("../../assets/img/coat.jpg");
    opacity: 0.8;
    color: blue;
}
.centercontent{
    height: 40vh;
    width: 60vw;
    color: white;
}
h1{
  font-size: 20px;
}
p{
  font-size: 15px;
}
