.pageone{
    height:100vh;
    margin: 0px;
    background-color:lightgray;
    color:black;
}
.firstpagecard{
    background-color: yellow;
    height: 60vh;
    width: 70vw;
    position: static;
}
